:root {
  font-family: "SourceSansPro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-color);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brand-color: #ff7000;
  --gray-color: rgba(57, 63, 77, 0.6);
  --dark-color: rgba(0, 0, 0, 0.87);
  --error-color: #f23f3a;
  --success-color: #57c84d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--brand-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--brand-color);
}

a {
  font-weight: 500;
  color: var(--brand-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--brand-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 1rem 0 0.75rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: var(--dark-color);
  }
}

/* inputs */

textarea,
select,
input,
button {
  font-family: inherit;
  padding: 0.75rem;
  background: none;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

textarea:disabled,
textarea[disabled],
select:disabled,
select[disabled],
input:disabled,
input[disabled],
button:disabled,
button[disabled] {
  background-color: rgba(57, 63, 77, 0.05);
}

[data-tip] {
  position: relative;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}

[data-tip]:hover:after {
  display: block;
}
